/* Site Wide Styles */
html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: #FAFAFA;
}

#app {
    /*        height: 100%;*/
    /*    z-index: 1;*/
    /*    background-color: #fafafa;*/
    -webkit-transition: background-color 0.7s ease-out;
    -moz-transition: background-color 0.7s ease-out;
    -o-transition: background-color 0.7s ease-out;
    transition: background-color 0.7s ease-out;
    transition: background 0.7s ease-out;
}

/* Nav Bar Styles */
.top-nav {
    overflow: hidden;
    position: fixed;
    background-color: #616161;
    left: 0;
    top: 0;
    width: 100%;
    height: 76px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.top-nav a {
    float: left;
    width: 25%;
    padding: 0.5rem 0;
    text-align: center;
    color: #FAFAFA;
    font-size: 36px;
    text-decoration: none;
}

.top-nav a span {
    font-size: 0.75rem;
    display: block;
    margin-top: 4px;
}

.top-nav a:hover {
    background-color: #8e8e8e;
}

.active {
    background-color: #1b1b1b;
}

.container {
    display: grid;
    grid-template: auto / 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1.5rem;
    margin: 0 auto;
    margin-top: 76px;
    justify-items: center;
}

label i, p i {
    margin-right: 0.5rem;
    color: #373737;
}
/* Widget Styles */
.widget {
    max-width: 960px;
    width: 75%;
/*    height: 240px;*/
    padding: 0 1rem;
    margin-bottom: 1rem;
    border-radius: 12px;
    background-color: #f5f5f5;
/*    color: #fff;*/
      overflow: scroll;
}

.widget-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
    z-index: 1;
}

.widget-header h2 {
/*    margin-top 1rem;*/
    padding-top: 1rem;
    top: 0;
}
/* Modal Styles */
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity 0.7s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 50%;
    min-width: 250px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all 0.7s ease;
}

.modal-body {
    margin: 20px 0;
    color: #616161;
}

.modal-footer {
    text-align: right;
}

.modal-default-button {
    /*    float: right;*/
}

.modal-default-button:hover {
    /*    background: #1b1b1b;*/
}

img {
    max-width: 100%;
    /*    margin: 1rem;*/
}

button {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: 1rem;
    padding: 8px 16px;
    margin: 0.5rem;
    border-radius: 16px;
    border: none;
    background-color: #8E8E8E;
    color: #fff;
    transition: 0.3s ease-in-out;
}

button:active {
    /*    background-color: #81D4FA;*/
    box-shadow: inset 0 1px 4px rgba(62, 62, 62, 0.25);
    /*    border: solid 1px #3e3e3e;*/
}

button:hover {
    background-color: #373737;
    color: #fff;
    /*    color: #FAFAFA;*/
}

button i {
    margin-right: 0.5rem;
}

.ghost-button {
    background-color: transparent;
    color: #8E8E8E;
    /*    border-style: inset;*/
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    border: solid 1px #8E8E8E;
}

/*
.ghost-button:hover {
    color: #373737;
}
*/
.profile-bar {
    width: 100vw;
    z-index: 100;
    display: grid;
    grid-template-columns: auto 7fr;
    background-color: #373737;
    color: #fff;
}

.profile-bar p,
.profilePic {
    /*    display: inline-block;*/
    align-self: center;
    font-weight: 600;
}

.profilePic {
    grid-column: 1 / span 1;
    border-radius: 100%;
    margin: 0.5rem 1rem;
    width: 32px;
}

h1,
h2,
h3 {
    text-align: center;
}

h1 {
    font-family: 'Rubik', sans-serif;
    /*    line-height: 0.5rem;*/
}

h2 {
    margin-bottom: 0;
    font-weight: 400;
}

hr {
/*
    border: 0;
    height: 1px;
    background: #000;
    background-image: linear-gradient(to right, #616161, #000, #616161);
*/
    /* Gradient transparent - color - transparent */
    border: 0;
    height: 1.5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

header {
    text-align: center;
    margin: 0rem 0 1rem 0;
}

header h1 {
    margin-bottom: 0;
}

/* Helper classes */
.shadow {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

/* Pain Rating Page */
#humanBody {
    margin: 0 auto;
    margin-top: 1.5rem;
}

.rate-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*    grid-column-gap: 1rem;*/
    justify-content: space-around;

}

.rate-buttons button {
    /*    justify-content: space-around;	*/
}

#savePainMap {
    /*    grid-row-start: 3;*/
    /*    grid-column: 1 / 13;*/
}


.symbol {
    /*    grid-area: 1 / 1 / 2 / 7;*/
    /*    background-color: aquamarine;*/
    /*    grid-column: 2 / 5;*/
}

.emoji {
    font-size: 9rem;
    text-align: center;
    line-height: 0;
    transition: all 0.7s ease-out;
}

.value {
    margin: 0.25rem 0 0 0;
    /*    line-height: 0rem;*/
    transition: all 0.7s ease-out;
}

.value p {
    padding: 0 2rem;
    max-width: 640px;
}

.slidecontainer {
    width: 100%;
}

/* Slider Styles */
#color-slider {
    -webkit-appearance: none;
    width: 300px;
    height: 20px;
    border-radius: 10px;
    background: #d3d3d3;
    /* Old browsers */
    background: -moz-linear-gradient(left, #fafafa 0%, #e0f7fa 10%, #e8f5e9 20%, #f0f4c3 30%, #e6ee9c 40%, #fff176 50%, #ffee58 60%, #ffd54f 70%, #ffa726 80%, #ff5722 90%, #d84315 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #fafafa 0%, #e0f7fa 10%, #e8f5e9 20%, #f0f4c3 30%, #e6ee9c 40%, #fff176 50%, #ffee58 60%, #ffd54f 70%, #ffa726 80%, #ff5722 90%, #d84315 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #fafafa 0%, #e0f7fa 10%, #e8f5e9 20%, #f0f4c3 30%, #e6ee9c 40%, #fff176 50%, #ffee58 60%, #ffd54f 70%, #ffa726 80%, #ff5722 90%, #d84315 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#d84315', GradientType=1);
    /* IE6-9 */
    outline: none;
}

#color-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(62, 62, 62, 0.65);
    cursor: pointer;
}

#color-slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgba(62, 62, 62, 0.65);
    cursor: pointer;
}

input[type=range] {
    -webkit-appearance: none;
    width: 300px;
    height: 20px;
    border-radius: 10px;
    background: #c7c7c7;
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(55, 55, 55, 0.7);
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgba(55, 55, 55, 0.7);
    cursor: pointer;
}

.list {
    max-width: 480px;
    width: 75%;
}
.list h3 {
    text-align: left;
}

/* Custom checkbox styles */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 3rem;
    margin-top: 0.25rem;
    margin-bottom: 12px;
/*    margin: 0 auto;*/
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #c7c7c7;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #81D4FA;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Timer Styles */
.input-group {
    /*    min-width: 300px;*/
    display: grid;
    grid-template: auto / 2fr;
    /*    grid-row-gap: 1rem;*/
    /*    text-align: center;*/
}

.input-group label {
    display: block;
    margin: 0.5rem 0 0rem 0;
    ;
}

.input-group input {
    /*    width: auto;*/
    margin: 0 auto;
    padding: 1rem 1rem;
    border-radius: 9px;
    /*    display: inline-block;*/
}

input[type=text],
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.time-input {
    grid-column: span 1;
    /*    width: 50%;*/
    /*    grid-column-end: span 1;*/
    /*    display: inline-block;*/
}

.meds-input {
    grid-column: span 2;
}

@media(max-width: 600px) {
    /* Nav Bar Styles */
    .top-nav {
        left: 0;
        bottom: 0;
        top: initial;
        width: 100%;
        text-align: center;
    }

    .top-nav a {
        text-align: center;
        transition: all 0.3s ease;
    }
    
    .profile-bar {
        position: fixed;
    }
    .container {
        display: grid;
        grid-template: auto / 1fr;
        grid-row-gap: 1rem;
        margin: 0 auto;
        width: 100vw;
        position: relative;
        margin-bottom: 76px;
    }

    header,
    #humanBody {
        grid-column: 1 / 2;
        /*        grid-row-end: span 12;*/
    }
    header {
        margin-top: 60px;
    }
    
    h1 {
        font-size: 1.5rem;
    }
}
