<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compainion - Personal Pain Companion</title>

    <!-- generic favicons -->
    <link rel="icon" href="./uploads/favicons/favicon-32.png" sizes="32x32">
    <link rel="icon" href="./uploads/favicons/favicon-57.png" sizes="57x57">
    <link rel="icon" href="./uploads/favicons/favicon-76.png" sizes="76x76">
    <link rel="icon" href="./uploads/favicons/favicon-96.png" sizes="96x96">
    <link rel="icon" href="./uploads/favicons/favicon-128.png" sizes="128x128">
    <link rel="icon" href="./uploads/favicons/favicon-192.png" sizes="192x192">
    <link rel="icon" href="./uploads/favicons/favicon-228.png" sizes="228x228">

    <!-- Android favicons -->
    <link rel="shortcut icon" sizes="196x196" href="./uploads/favicons/favicon-196.png">

    <!-- iOS favicons -->
    <link rel="apple-touch-icon" href="./uploads/favicons/favicon-120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="./uploads/favicons/favicon-152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="./uploads/favicons/favicon-180.png" sizes="180x180">

    <!-- stylesheets -->
    <link rel="stylesheet" href="app.css">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Rubik:700|Work+Sans:400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Vue.JS libraries and scripts -->
    <script src="js/vue.js" defer></script>
    <script src="js/app.js" defer></script>
</head>

<body>

    <div id="app">
        <nav class="top-nav">
            <a href="index.html"><i class="fa fa-home"></i><span>Home</span></a>
            <a href="body-painmap.html"><i class="fas fa-comment-medical"></i><span>Rate</span></a>
            <a href="history.html"><i class="fas fa-chart-bar"></i><span>History</span></a>
            <a class="active" href="reminders.html"><i class="fas fa-clock"></i><span>Reminders</span></a>
        </nav>
        <div class="container">
            <header>
                <h1>Reminders</h1>
            </header>
            <div v-if="time">
                <button v-if="!isRunning" @click="start">Start</button>
                <button v-if="isRunning" @click="stop">Stop</button>
                <button @click="reset">Reset</button>
            </div>
            <div class="input-group">
                <!--
                <div class="time-input">
                    <label for="hours">Hours</label>
                    <input type="number" v-model="hours" name="time_h" id="hours" min="0" max="59" required>
                </div>
                <div class="time-input">
                    <label for="minutes">Minutes</label>
                    <input type="number" v-model="minutes" name="time_m" id="min" max="59" min="0" required>
                </div>
-->
                <!--                <input v-model="newTimer" placeholder="timer hours" type="number" required>-->
                <timer :time="prettyTime"></timer>
            
                
                <timer-setup v-if="!time" @set-time="setTime"></timer-setup>

            </div>

            <!--            id="timers"-->
            <div class="list">
                <div v-for="medication in medications">
<!--                    <input type="checkbox" v-model="medication.checked">-->
                    <h2>{{ medication.timer }}</h2>
<!--                    <timer :time="prettyTime"></timer>-->
                    <label class="checkbox-container"><h3>{{ medication.name }}</h3>
                        <input type="checkbox" v-model="medication.checked">
                        <span class="checkmark"></span>
                    </label>
                    
                   <p v-show="medication.dose"><i class="fas fa-pills"></i>{{ medication.dose }}</p>
                    
                    <p v-show="medication.dosage"><i class="fas fa-prescription"></i>{{ medication.dosage }}</p>
                    <hr>
                </div>
            </div>
            <!--
            <ul>
            <li v-for="medication in medications" :class="{ 'removed': medication.checked }"> 
                <div class="checkbox">
                    <label>
                    <input type="checkbox" v-model="medication.checked"> {{ medication.name }}
                    </label>
                </div>
            </li>
        </ul>
-->

        </div>
    </div>

</body>

</html>
